= form_tag stripe_clerk.charges_path do
  %article
    %label.amount
      %span= t("stripe_clerk.amount") + ":"
      = euros order.total_price
  %script.stripe-button{"data-amount" => "#{order.total_price*100}",
                        "data-currency" => "eur",
                        "data-description" => "#{t(:order_number)} #{order.number}",
                        "data-key" => Rails.configuration.stripe[:publishable_key],
                        "data-locale" => "auto",
                        "data-image" => "#{image_url('your_stripe_logo.png')}",
                        "data-name" => t("stripe_clerk.company"),
                        "data-panel-label" => t("stripe_clerk.pay_with_card"),
                        "data-label" => t("stripe_clerk.pay_with_card"),
                        "data-allow-remember-me" => "false" ,
                        "data-email" => "#{@order.email}",
                        :src => "https://checkout.stripe.com/checkout.js"}
  %a.custom-button
    %span= t("stripe_clerk.transfer")
